<div *ngIf="reducedItems && reducedItems.length" class="batch-sum-container input-box">
  <div class="table">
    <div class="table-row" *ngFor="let reducedItem of reducedItems; let i = index">
      <div
        class="table-cell"
        *ngFor="let property of reducedItem.val | keyvalue: keepOriginalOrder"
      >
        {{ property.value }}
      </div>
      <div class="table-cell" *ngIf="displaySum">
        XY
        <!--{{ reducedItem.sum | currency }}-->
      </div>
      <div class="table-cell">
        <div class="flx-row flx-end">
          <button
            type="button"
            class="btn btn-tertiary btn-wired btn-tiny"
            (click)="handleDelete(i)"
            [disabled]="disabled"
          >
            Zmazať
          </button>
          <button
            type="button"
            class="btn btn-tertiary btn-tiny"
            (click)="handleEdit(i)"
            [disabled]="disabled"
          >
            Upraviť
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
