<ng-container [formGroup]="form">
  <label [attr.for]="props.key">
    <div class="label-title" [class.required]="props.required" [textContent]="props.label"></div>
    <div class="label-description" [textContent]="props.description"></div>

    <textarea
      [formControlName]="props.key"
      [id]="props.key"
      [name]="props.key"
      [placeholder]="props.label"
    ></textarea>
  </label>
</ng-container>

<app-formero-field-messages
  [control]="form.controls[props.key]"
  [label]="props.label"
  [displayMessages]="displayMessages"
></app-formero-field-messages>
