<header>
  <button mat-icon-button [matMenuTriggerFor]="mainMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #mainMenu="matMenu">
    <button
      mat-menu-item
      [routerLink]="['']"
      [routerLinkActive]="['active-link']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Domov
    </button>
    <button mat-menu-item [matMenuTriggerFor]="forms">Fromuláre</button>
    <button mat-menu-item [routerLink]="['about']" [routerLinkActive]="['active-link']">
      O aplikácii
    </button>
  </mat-menu>

  <mat-menu #forms="matMenu">
    <button
      mat-menu-item
      *ngFor="let id of formIds"
      [routerLink]="['form', id]"
      [routerLinkActive]="['active-link']"
    >
      Formulár id = {{ id }}
    </button>
  </mat-menu>

  <!--<nav>
    <ul>
      <li>
        <a
          [routerLink]="['']"
          [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Domov</a
        >
      </li>
      <li>Formuláre:</li>
      <ul>
        <li *ngFor="let id of formIds">
          <a [routerLink]="['form', id]" [routerLinkActive]="['active-link']"
            >Formulár id = {{ id }}</a
          >
        </li>
      </ul>
      <li><a [routerLink]="['about']" [routerLinkActive]="['active-link']">O aplikácii</a></li>
    </ul>
  </nav>-->
</header>

<main class="main-content">
  <router-outlet></router-outlet>
</main>

<hr />
<footer>Copyright (c) 2022 | -pg-</footer>
