@use 'variables' as var;
@use 'typography' as typo;

input[type='radio'],
input[type='checkbox'] {
  cursor: pointer;
  width: 1em;
  height: 1em;

  & + span {
    display: inline-block;
    padding-left: 0.5em;
    color: var.$input-value-color;
    opacity: 0.65;
    user-select: none;
    cursor: pointer;
  }
  &:checked + span {
    opacity: 1;
  }
  &:disabled + span {
    opacity: 0.25;
    //color: var.$input-value-disabled-color;
    // pointer-events: none;
  }
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label-title {
  @include typo.typography-level(minor);
  margin-bottom: 0.8em;
  color: var.$title-text-color;

  &.required {
    &::after {
      content: '*';
      color: var.$brand-color;
      font-size: 2.25em;
      margin-left: 0.15em;
      line-height: 0;
      position: relative;
      top: 0.25em;
    }
  }
}

.label-description {
  font-style: italic;
  margin-bottom: 1em;
  line-height: 1.25em;
}

input[type='textbox'],
textarea,
select,
.input-box {
  background-color: var.$input-bg-color;
  border: var.decoration-border(var.$input-bg-color);
  border-radius: var.$input-border-radius;
  width: 100%;
  color: var.$input-value-color;
  padding: 0.8em 1em;
  font-weight: 600;
  transition: 0.3s border, 0.3s color;

  &::placeholder {
    color: var.$input-placeholder-color;
    transition: 0.3s opacity;
  }

  &:focus {
    outline: none;
    border: var.decoration-border(var.$input-border-focus-color);

    &::placeholder {
      color: var.$input-placeholder-color;
      opacity: 0.5;
    }
  }
}

input:-webkit-autofill {
  box-shadow: 0 0 0 100px var(--autofill-bg-color) inset;
  border-color: var(--autofill-bg-color);
}

textarea {
  height: 1rem * 8;
  min-height: 1rem * 8;
  max-height: 1rem * 24;
  resize: vertical;
}

.field-messages {
  .input-box,
  input[type='textbox'],
  textarea,
  select {
    &.ng-invalid {
      border: var.decoration-border(var.$input-border-error-color);
    }
  }
}

label {
  &.radio-label,
  &.checkbox-label {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.input-box {
  height: auto;
  padding: 0.8em 1em;
  color: var.$primary-text-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.65rem;

  &:focus-within {
    border: var.decoration-border(var.$input-border-focus-color);
  }

  hr {
    margin-block: 0.15em;
    align-self: stretch;
    height: 0.07rem;
    border: 0;
    background-color: var.$input-border-disabled-color;
  }
}
