@use 'sass:map';

@use 'variables' as var;
@use 'typography' as typo;

html {
  @include typo.typography-level(paragraph);
  color: var.$primary-text-color;
  background-color: var.$page-bg-color;
  accent-color: var.$focus-color;
  scroll-behavior: smooth;
  cursor: default;

  ::selection {
    color: var.$selection-text-color;
    background: var.$selection-bg-color;
  }
}

body {
  display: block;
  margin: 0;
  padding: 0;
}

.content {
  max-width: var.$content-max-width;
  padding: var.$content-margin;

  .page {
    display: flex;
    flex-direction: column;
    gap: var.$content-margin;
  }

  &.dashboard-layout {
    display: grid;
    grid-gap: var.$content-margin;
    grid-template-areas:
      'header'
      'main'
      'footer';

    header {
      grid-area: header;
    }

    main {
      grid-area: main;
    }

    footer {
      grid-area: footer;
    }
  }
}

.app-title {
  margin-inline-end: 50px;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.error-message {
  @include typo.typography-level(small);
  font-style: italic;
  text-align: right;
  justify-content: end;
  color: var.$error-color;
  margin-top: 0.4444rem;

  &.boxed {
    margin: 0; // 0.5em;
    padding: 0.6em;
    text-align: start;
    border: 2px solid var.$error-color;
    border-radius: 0.5em;
  }
}

.full-width-container {
  position: relative;
  width: calc(100vw - 2rem);
  align-self: center;

  .fit {
    align-self: center;
    min-width: var.$content-max-width;
  }

  .label-title {
    margin-bottom: 0;
  }

  .batch-sum-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.stick-bottom {
  position: sticky;
  bottom: 1rem;
}

// utilities

.bold {
  font-weight: bold;
}
.text-right {
  text-align: right;
}

.flx-col,
.flx-row {
  display: flex;
  gap: 1rem;

  &.flx-start {
    justify-content: start;
  }
  &.flx-center {
    justify-content: center;
  }
  &.flx-end {
    justify-content: end;
  }

  &.flx-ai-start {
    align-items: start;
  }
  &.flx-ai-center {
    align-items: center;
  }
  &.flx-ai-end {
    align-items: end;
  }

  .flx-inline {
    display: inline-flex;
  }

  .flx-fill {
    flex: 1;
  }
}
.flx-row {
  flex-direction: row;
}
.flx-col {
  flex-direction: column;
}

.table {
  display: table;

  .table-row {
    display: table-row;

    &:hover {
      background-color: #313a45;
      color: white;
    }

    .table-cell {
      display: table-cell;
      padding: 0.25em 0.5em;

      &:first-child {
        //padding-left: 0.25em;
      }

      &:last-child {
        //padding-right: 0.25em;
      }
    }
  }
}

//
//
// todo: change
//
//

pre {
  font-size: 0.85rem;
  color: var.$primary-text-color;
  background-color: var.$input-bg-color;
  border: var.$panel-border-type-1;
  padding: 0.85rem;
  border-radius: 0.85rem;
  margin: 1rem 0;
}

.panel.title-picture {
  background-image: url('../assets/title-bg-01.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-top: var.$content-margin;
  margin-bottom: var.$content-margin * 2;
}

.active-link {
  &::after {
    content: ' *';
  }
}
form.auth {
  p {
    margin-bottom: 1rem;
  }

  input:not([type='checkbox']) {
    width: 100%;
  }
}
