@use 'sass:math';

// DASHBOARD
$dashboard-accent-color: #fdcb00; //var(--dashboard-accent-color);

// COLORS
$primary-color: var(--primary-color);
$brand-color: $primary-color;
$secondary-color: var(--secondary-color);
$page-bg-color: var(--page-bg-color);
$primary-text-color: var(--primary-text-color);
$secondary-text-color: var(--secondary-text-color);
$title-text-color: var(--title-text-color);
$title-text-weight: var(--title-text-weight);
$focus-color: $secondary-color;
$error-color: var(--error-color);
$selection-text-color: var(--selection-text-color);
$selection-bg-color: var(--selection-bg-color);

// TYPOGRAPHY
$default-font-size: clamp(1rem, /*1vw*/ /*0.9375vw*/ 0.8vw, 1.75rem);

// global UI
$content-max-width: none; //35rem;
$content-margin: 1.7777rem;
$form-max-width: 45rem;
$sidebar-left-min-width: 12rem;
$sidebar-left-max-width: 20rem;
$sidebar-right-min-width: 20rem;
$sidebar-right-max-width: 30rem;

$border-radius-big: 1.7777rem;
$border-radius-small: 0.6666rem;

// panel
$panel-padding: 1.7777rem;
$panel-padding-plain: math.div($panel-padding, 2);
$panel-primary-bg-color: var(--panel-primary-bg-color);
$panel-secondary-bg-color: var(--panel-secondary-bg-color);
$panel-border-radius: $border-radius-big;
$panel-box-shadow: var(--panel-box-shadow);
$panel-border-type-1: 1px solid var(--panel-border-color);

// inputs
$input-bg-color: var(--input-bg-color);
$input-placeholder-color: var(--input-placeholder-color);
$input-border-focus-color: $focus-color;
$input-border-error-color: $error-color;
$input-border-radius: $border-radius-small;
$input-border-disabled-color: var(--input-border-disabled-color);
$input-value-color: var(--input-value-color);
$input-value-unselected-color: var(--input-value-unselected-color);
$input-value-disabled-color: var(--input-value-disabled-color);
$autofill-bg-color: var(--autofill-bg-color);

$decoration-border-size: 0.2rem;
$decoration-border-type: solid;

// buttons
$button-primary-bg-color: $brand-color;
$button-primary-text-color: var(--button-text-color);
//$button-primary-wired-border: decoration-border($brand-color);

$button-secondary-bg-color: $secondary-color;
$button-secondary-text-color: var(--button-text-color);
//$button-secondary-wired-border: decoration-border($secondary-color);

$button-tertiary-bg-color: $secondary-text-color;
$button-tertiary-text-color: var(--button-text-color);
//$button-tertiary-wired-border: decoration-border($secondary-color);

$button-border-radius: 0.6666em; //$border-radius-small;

// misc
@function decoration-border(
  $color: $brand-color,
  $size: $decoration-border-size,
  $type: $decoration-border-type
) {
  @return $color $size $type;
}
