<ng-container [formGroup]="form">
  <div class="label-title" [textContent]="props.label" [class.required]="props.required"></div>
  <div class="label-description" [textContent]="props.description"></div>

  <div class="input-box" [class.ng-invalid]="form.controls[props.key].invalid">
    <label
      class="radio-label"
      *ngFor="let option of props.options; index as i"
      [attr.for]="props.key + '_' + i"
    >
      <input
        type="radio"
        [formControlName]="props.key"
        [value]="option.value"
        [id]="props.key + '_' + i"
      />
      <span>{{ option.label }}</span>
    </label>
  </div>
</ng-container>

<app-formero-field-messages
  *ngIf="displayMessages"
  [control]="form.controls[props.key]"
  [label]="props.label"
></app-formero-field-messages>
