<div *ngIf="displayMessages && control.invalid" style="color: red;">
  <span *ngIf="label"
    ><b>{{ label }}:</b>&nbsp;</span
  >
  <span *ngIf="control.errors?.required">Pole je povinné.</span>
  <span *ngIf="control.errors?.email">Nesprávny formát emailovej adresy.</span>
  <span *ngIf="control.errors?.emailPattern">Nesprávny formát emailovej adresy.</span>
  <span *ngIf="control.errors?.maxlength"
    >Pole môže obsahovať maximálne {{ control.errors?.maxlength.requiredLength }} znakov.</span
  >
  <span *ngIf="control.errors?.minlength"
    >Pole musí obsahovať minimálne {{ control.errors?.minlength.requiredLength }} znakov.</span
  >
  <span *ngIf="control.errors?.checked && control.errors?.checked.requiredChecked === 1"
    >Povinné pole.</span
  >
  <span *ngIf="control.errors?.checked && control.errors?.checked.requiredChecked !== 1"
    >Potrebné označiť {{ control.errors?.checked.requiredChecked }} položiek.</span
  >
  <span *ngIf="control.errors?.minChecked"
    >Potrebné označiť minimálne {{ control.errors?.minChecked.requiredChecked }} položky.</span
  >
  <span *ngIf="control.errors?.maxChecked"
    >Môžu byť označené maximálne {{ control.errors?.maxChecked.requiredChecked }} položky.</span
  >
  <span *ngIf="control.errors?.groupRequired">{{
    control.errors.groupRequired.message || 'Musí byť vyplnené aspoň jedno pole zo skupiny.'
  }}</span>
</div>

<!--<pre style="color: gray;">
displayMessages: {{ displayMessages }}
-&#45;&#45;
control.errors:  {{ control.errors | json }}
control.invalid: {{ control.invalid | json }}
control.touched: {{ control.touched | json }}
control.dirty:   {{ control.dirty | json }}</pre
>-->
